<div class="content" role="main">

    <div class="card-container">
        <p>{{this.keys.length}}</p>
        <p>{{this.data.length}}</p>
    </div>


    <div class="card-container" *ngIf="this.keys.length > 0">
        <table style="width:100%">
            <tr>
                <th *ngFor="let key of this.keys">{{key}}</th>
            </tr>
            <tr *ngFor="let datum of this.data">
                <td *ngFor="let key of this.keys">{{datum[key]}}</td>
            </tr>
        </table>
    </div>


</div>